<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongmao.dao.user.UserDao">
    <resultMap id="BaseResultMap" type="com.hongmao.dto.user.UserDto">
        <id column="userName" property="userName"/>
        <id column="password" property="password"/>
        <id column="createTime" property="createTime"/>
        <id column="updateTime" property="updateTime"/>
        <id column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
	    userName,password,createTime,updateTime,remark
    </sql>

    <select id="queryUserInfoByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM td_user
        WHERE userName = #{userName}
    </select>

</mapper>
